<!doctype html>
<html lang="en">
<head>
  <!-- <link rel="manifest" href="manifest.json"> -->
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="P2P Chat">
  <meta name="apple-mobile-web-app-title" content="P2P Chat">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>P2P Chat</title>
  <base href="/">
<link rel="stylesheet" href="styles.css">
<script src="bundle.js" defer nonce="0"></script>
</head>
<body>
  <div style="height: 100%; width: 100%;">
    <noscript>Sadly we live in the 21st century where websites do require JS (and use >1MB files with 17 cdn hits to load a blog)</noscript>
    <app-root></app-root>
  </div>
</body>
</html>
